$fs: 'Roboto Slab';
$wh-tx: #FFFFFF;
$ye-tx: #F4FA1A;
$grey: #B8B8B8;
$bl: #000000;

// Переисполльзование по bem
.yellow-text{
	font-style: normal;
	color: $ye-tx;
}
.title {
	// height: 62px;
	height: 100%;
	font-family: $fs;
	font-weight: 700;
	font-size: 2.66rem;
	line-height: 63px;
	}
.subtitle {
	width: 240px;
	height: 72px;
	font-family: $fs;
	font-weight: 700;
	font-size: 1.66rem;
	line-height: 40px;
	display: flex;
	align-items: center;
	text-align: center;
	color: $wh-tx;
}
.button{
	cursor: pointer;
	margin-top: 29px;
	width: 275px;
	height: 66px;
	padding: 20px 46px;
	display: flex;
	// text-align: center;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	border-radius: 15px;
	border: 1px solid #F4FA1A;
	&__contacnt{
		background: none;
		color: $wh-tx;
		font-family: $fs;
		font-weight: 900;
		line-height: 1.1;
		font-size: 1.33rem;
	}
	&__right-arrow{
		width: 27px;
		height: 27px;
	}
}

.underline{
	text-decoration: underline;
	text-decoration-color: $ye-tx;
	text-underline-offset: 16px;
	text-decoration-thickness: 3px;
	}
// ----------------------------------