.about-me {
	// background-color: rgba(145, 125, 125, 0.185);
	padding: 53px 0px 92px;
	&__container {
		// padding: 53px 0px 92px;
		// margin: 53px 0px 92px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		display: flex;
		width: 100%;
		justify-content: flex-start;
		margin-bottom: 109px;
	}

	&__content {
		display: flex;
		flex-direction: row;
		align-items: center; 
	}
	&__picture {
		width: 55%;
	}

	&__border {
		// overflow: hidden;
		width: 479px;
		height: 398px;
		// width: 100%;
		// height: 100%;
		border: 5px solid #F4FA1A;
		border-radius: 20px;

		position: relative;
		img{
			object-fit: cover;

			position: absolute;

			left: 32px;
			bottom: 28px;

			display: block;
			width: 100%;
			height: 100%;

			display: flex;
			overflow: hidden;
			justify-content: center;
			align-items: center;

			background: #BBBBBB;
			box-shadow: 0px 2px 31px 15px rgba(0, 0, 0, 0.25);
			border-radius: 20px;

		    // background-image: url("/img/pavlick.jpg");
			// background-size: cover;
		}
	}

	&__who-i-am {
		width: 45%;

		display: flex;
		flex-direction: column;
		// margin-left: 90px;
		margin: 0px 0px 10px 90px;
	}
	&__text {
		flex-wrap: wrap;
		// padding: 70px 0px 50px 0px;
		margin: 70px 0px 50px 0px;

		font-family: $fs;
		font-style: normal;
		font-weight: 400;
		font-size: 1rem;
		line-height: 27px;
		/* or 150.38% */
		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: 0.03em;
		color: $wh-tx;
	}

	&__download {
		width: 368.78px;
		height: 66px;
		background-color: $ye-tx;
		border-radius: 15px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		text-align: center;
	}
}
.download {
	&__button {
		padding: 0px 0px 0px 30px;
		background: none;
		color: $bl;
		font-family: $fs;
		font-style: normal;
		font-weight: 500;
		font-size: 1.33rem;
		line-height: 32px;
		display: flex;
		align-items: center;
		text-align: center;

	}
	&__img {
		width: 40px;
		height: 40px;
	}
}





/* планшет - tablet */
@media (max-width: 991.98px){
	.about-me__border{
		width: 100%;
	}
}

/* mobile */
@media (max-width: 767.98px){
	.about-me{
		&__title{
			margin-bottom: 35px;
			width: 100%;
			justify-content: center;
		}
	}
	.about-me__who-i-am{
		width: 100%;
		margin: 0;
	}
	.about-me__picture{
		display: none;
	}
	.about-me__text{
		text-align: left;
	}
}


/* mobile small*/
@media (max-width: 565.98px){
	
}