.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	background-color: rgb(80, 77, 69);

	// плашка
	.header:before{ 
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		// background-color: #c4c925;
		background-color: rgb(70, 61, 34);
	}
	// .header__burger{
	// 	display: none;
	// }

	&__container {
	}

	&__inner {
		height: 70px;
		margin: 1rem 0;
		width: 100%;
		align-items: center;
		display: flex;
		justify-content: space-between;

		position: relative;
		// для бургер меню
	}

	&__logo {
		position: relative;
		flex: 0 1 90px;
		overflow: hidden;
		z-index: 3;
		img{
			display: block;
			max-width: 100%;
			// елси картинка будет болще чтобы она подстроилась под размер
		}
	}

	&__burger {
	}

	&__menu {
	}
}
.menu {

	&__list {
		display: flex;
		position: relative;
		z-index: 2;
	}
	&__link {
		text-transform: capitalize;
		font-family: $fs;
		font-style: normal;
		font-weight: 900;
		font-size: 1.11rem;
		line-height: 2.6;
		letter-spacing: 0.1em;
		color: $wh-tx;
	}
}
.header__menu{
	margin-left: -0.55rem;
}
.menu__list li{
	margin-left: 0.55rem;
}


// адаптив для табле
@media (max-width: 991.98px) {
	.header {
		&__inner{
			justify-content: center;
			// margin: 0.6rem 0;
			margin: 0;
		}
		&__logo {
			display: none;
		}
	}
}




// /* mobile */
@media (max-width: 767.98px){
	// последтсвия отсупов на планшете
	body.lock{
		overflow: hidden;
	}
	.header__logo{
		display: block;
		flex: 0 1 70px;
	} 
	.header__inner{
		justify-content: space-between;
		margin: 0;
	}
	// =============
	.header__menu {
		overflow: auto;
		// если контента в менюшке бкдет больше или шрифт текста больше, то можно будет пролистать
		margin: 0;
		position: fixed;
		top: -100%;
		left: 0;
		// если left? то справа пустое пространоство.мб -отступ есть где-то
		width: 100%;
		height: 100%;
		// background-color: rgb(2, 49, 33);
		background-color: #18b5a4;
		padding: 80px 10px 20px 10px;
		// align-items: start;

		transition: all 0.3s ease 0s;
	}
	.header__menu.active{
		top: 0;
	}

	.menu__list{
		display: block;
	}
	.menu__list li{
		margin-left: 0;
	}
	// ===================
	.header__burger{
		display: block;
		width: 30px;
		height: 20px;

		z-index: 3;
		position: relative;
	}
	.header__burger span{
		position: absolute;
		background-color: aliceblue;
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;

		transition: all 0.3s ease 0s;
	}
	.header__burger:before,
	.header__burger:after{
		content: '';
		background-color: aliceblue;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;

		transition: all 0.3s ease 0s;
	}
	.header__burger:before{
		top: 0;
		// верхняя полоса
	}
	.header__burger:after{
		bottom: 0;
	}
	// ===================
	// после нажатия
	.header__burger.active:before{
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after{
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__burger.active span{
		transform: scale(0);
	}
}

// // /* mobile small*/
// @media (max-width: 565.98px){
// 	.menu {
// 		&__link {
// 			font-size: 0.8rem;
// 		}
// 	}
// 	.header__logo{
// 		display: none;
// 	}
// }