.hello {
	background-image: url(img/hello-backgound.png);
	background-repeat: no-repeat;
    background-size: cover;
	// min-height: 100vh;
	padding: 400px 0px 132px 0px;

	overflow: hidden;
		&__inner{
			display: flex;
			position: relative;
		}
		&__container {
			// align-items: center;
			// max-height: 378px;
			// flex: 1 1 auto;
			// overflow: hidden;
		}
		&__content {
			z-index: 2;
			width: 60%;
			// padding: 21px 70px 30px 0px;
			flex-direction: column;
			align-items: center;
		}

		&__subtitle {
			display: flex;
			left: 0;
			height: 44px;
			font-family: $fs;
			font-style: normal;
			font-weight: 400;
			font-size: 1.33rem;
			line-height: 3.2;
			align-items: center;
			color: $wh-tx;
			span{
				padding-left: 9px;
			}
		}

		&__title {
			height: 94px;
			font-family: $fs;
			font-style: normal;
			font-weight: 800;
			font-size: 5.33rem;
			line-height: 127px;
			display: flex;
			align-items: center;
			color: $wh-tx;
		}
		.next{
			margin-left: 70px;
		}
		&__image {
			width: 40%;
			overflow: hidden;
			position: absolute;
			top: -145px;
			right: 0; 
			filter: drop-shadow(48px 4px 4px rgba(0, 0, 0, 0.25));
			text-align: center;
		}
		img{
			width: 100%;
			height: 100%;
		}
}






@media (max-width: 991.98px) {
	.hello__image{
		// width: 327px;
		// height: 436px;
		top: 0;
		right: 0;
	}
	.hello__title{
		// opacity: 0.6;
		font-size: 4.22rem;
	}
	.hello__title.next{
		margin-left: 0;
	}
	.hello{
		padding: 100px 0px 90px 0px;
	}
}

// планшеты поменьше картинка залезает под текст и ее проще убрать
@media (max-width: 669.98px) {
	.hello__image{
		display: none;
	}
	.hello__content{
		display: flex;
		justify-content: center;
		// flex-basis: 100%;
		
		width: 100%;
		height: 100%;
		// padding: 21px 70px 30px 0px;
	}
	.next{
		display: flex;
		justify-content: center;
	}
	.hello__subtitle{
		display: flex;
		justify-content: flex-start;
		flex-basis: 100%;
	}
}
/* mobile */
@media (max-width: 767.98px){
	.hello__content{
		padding: 0px;
	}
}

/* mobile small*/
@media (max-width: 565.98px){

}