// .skils {
// 	padding: 66px 0px 116px;
// 	&__container {
// 	}

// 	&__title {
// 		flex: 1 1 100%;
// 		justify-content: center;
// 		text-align: center;
// 	}

// 	&__content {
// 		padding: 66px 0px 101px;
// 		display: flex;
// 		flex-direction: row;
// 	}

// 	&__expirience {
// 		flex: 0 1 65%;
// 		margin-right: 30px;
// 	}

// 	&__blocks {
// 		flex: 0 1 35%;
// 	}
// 	&__subtitle{
// 		font-family: $fs;
// 		font-style: normal;
// 		font-weight: 500;
// 		font-size: 30px;
// 		line-height: 40px;
// 		display: flex;
// 		align-items: center;
// 		text-align: center;
// 		color: $wh-tx;
// 		display: flex;
// 		flex-direction: row;
// 		span{
// 			padding: 0px 9px;
// 		}
// 	}
// }

// .expirience {

// 	&__text {
// 		padding: 90px 0px;
// 		font-family: $fs;
// 		font-style: normal;
// 		font-weight: 500;
// 		font-size: 18px;
// 		line-height: 36px;
// 		display: flex;
// 		align-items: center;
// 		letter-spacing: 0.01em;
// 		color: $wh-tx;
// 	}
// }
// .blocks {
// 	display: flex;
// 	flex-direction: column;
// 	&__row{
// 		height: 50%;
// 		justify-content: center;
// 		justify-content: space-between;
// 		padding: 30px 0px;
// 		align-items: center;
// 		display: flex;
// 		flex-direction: row;
// 	}
// 	&__item {
// 		width: 126px;
// 		font-family: $fs;
// 		color: $wh-tx;
// 		font-style: normal;
// 		letter-spacing: 0.03em;
// 		line-height: 0.3em;
// 		font-size: 25px;
// 		// overflow: hidden;
		
// 		i{
// 			display: flex;
// 			justify-content: center;
// 			padding: 20px 0px 0px;
// 			color: $ye-tx;
// 			font-size: 120px;
// 		}
// 	}

// 	&__subtitle {
// 		height: 30px;
// 		align-items: center;
// 		display: flex;
// 		justify-content: center;
// 	}	
// }






.skils {
	padding: 66px 0px 116px;
	// margin: 66px 0px 116px;
	&__container {
	}

	&__title {
		flex: 1 1 100%;
		justify-content: center;
		text-align: center;
	}

	&__content {
		margin: 66px 0px 101px;
		display: flex;
		flex-direction: row;
	}

	&__expirience {
		flex: 0 1 55%;
		margin-right: 30px;

		position: relative;
		// субтайтл позиционируется относительно этого блока КОСТЫЛИ
	}

	&__subtitle {
		max-height: 80px;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		span{
			padding: 0px 0px 0px 9px;
		}
	}

	&__blocks {
		flex: 0 1 45%;
	}
}
.subtitle__con{
	width: 100%;
	flex-wrap: wrap;
	font-style: normal;
	font-family: $fs;
	font-size: 1.66rem;
	font-weight: 500;
	display: flex;
	line-height: 40px;
	text-align: center;
	align-items: center;
	display: flex;
	color: $wh-tx;
	flex-direction: row;
}

.expirience {

	&__text {
		// padding: 90px 0px;
		margin: 90px 0px;
		font-family: $fs;
		font-style: normal;
		font-weight: 500;
		font-size: 1rem;
		line-height: 36px;
		display: flex;
		align-items: center;
		letter-spacing: 0.01em;
		color: $wh-tx;
	}
}
.blocks {
	&__cont {
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		// отступ равный паддингу у coll т.к там отсуп прописан со всех сторон то этот контейнер начинается чуть правее чем край	
		// margin-left: -25px;
	}

	&__coll {
		flex-basis: 33.33333%;
		// padding: 10px;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__item {
		// width: 126px;	
		max-width: 120px;
			font-family: $fs;
			color: $wh-tx;
			font-style: normal;
			letter-spacing: 0.03em;
			line-height: 0.3em;
			font-size: 1.33rem;
			i{
				display: flex;
				justify-content: center;
				padding: 20px 0px 0px;
				color: $ye-tx;
				font-size: 6.66rem;
			}
	}

	&__subtitle {
		height: 30px;
		align-items: center;
		display: flex;
		justify-content: center;
	}
}



// адаптив для табле
@media (max-width: 991.98px) {
	.skils__content{
		display: flex;
		flex-direction: column;
	}
	.blocks__item{
		i{
			font-size: 5rem;
		}
	}
}
/* mobile small*/
@media (max-width: 565.98px){
	.blocks__item{
		i{
			font-size: 3.8rem;
		}
		display: flex;
		flex-direction: column-reverse;
	}
}
