.slider {
	padding: 150px 0px 116px;
	&__container {
	}

	&__title {
		margin-bottom: 100px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__content {
	}
	&__title-next {
		margin: 200px 0px 80px;

		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__content-next {
	}
}
.content {
	&__slide {
	}

	&__photo {
		height: 500px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__image {
		img{
			object-fit: cover;
			display: block;
			width: 100%;
			height: auto;
		}
		padding: 40px;
		display: block;
		width: 100%;
		height: auto;
	}
}
.content-next {

	&__slide {
	}

	&__photo {
		height: 800px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	&__image {
		padding: 40px;
		display: block;
		width: 100%;
		height: auto;
	}
}

// я не стал подключать слайдер ссылкой и скачал архив. не стал в итоге удалять файлы css в комплекте и не пришлось верстать его с нуля 
// снизу те же клссы если перезаписывать их поверх исходных с архива или сверстать с нуля самому


//  Слайдер 
.slick-slider{}
//  Слайдер запущен 
.slick-slider.slick-initialized{}
//  Слайдер с точками 
.slick-slider.slick-dotted{}
//  Ограничивающая оболочка 
.slick-list {
	overflow: hidden;
}
//  Лента слайдов 
.slick-track{}
//  Слайд 
.slick-slide{}
//  Слайд активный (показывается) 
.slick-slide.slick-active{}
//  Слайд основной 
.slick-slide.slick-current{}
//  Слайд по центру 
.slick-slide.slick-center{}
//  Клонированный слайд 
.slick-slide.slick-cloned{}
//  Стрелка 
.slick-arrow{}
//  Стрелка влево 
.slick-arrow.slick-prev{}
//  Стрелка вправо 
.slick-arrow.slick-next{}
//  Стрелка не активная 
.slick-arrow.slick-disabled{}
//  Точки (булиты) 
.slick-dots{}
.slick-dots li{}
//  Активная точка 
.slick-dots li.slick-active{}
//  Элемент точки 
.slick-dots li button{}